@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700&display=swap");

.main-section {
  height: 100vh;
  background: #1d2329;
  display: flex;
  justify-content: center;
  align-items: center;

  .background-main {
      background-image: url(../../assets//image/ovals-dark.svg);
      position: fixed;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
  }

  .content-main {
    font-family: "Fira Sans", sans-serif;
    z-index: 2;

    span {
      color: #5f6b78;
      font-size: 16px;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
    }

    h3 {
      font-size: 38px;
      color: #fff;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      text-align: center;
    }

    p {
      margin-top: 10px;
      font-size: 16px;
      color: #c5ced6;
      line-height: 1.4;
      width: 100%;
      margin: auto;
      max-width: 300px;
      text-align: center;
    }
  }
}

.main-navbar {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #1d2329;

    .logo {
        color: #fff;
    }

    .buttons-main {

      .btn-main {
          color: #c5ced6;
          background: #3c454d;
          border: none;
          line-height: 35px;
          font-size: 12px;
          font-weight: 500;
          padding: 0 20px;
          border-radius: 10px;
          text-align: center;
      }

      .btn-main:hover {
          background: #2b50ed;
          color: #fff;
      }

      .icon-user {
          margin-bottom: 2px;
      }

      svg {
          font-size: 18px;
          margin-right: 5px;
      }

      .btn-logout {
          margin-left: 10px;
          outline: none;
      }

      .btn-profile {
          outline: none;
      }
    }
}