@font-face {
  font-family: 'Ample Soft Pro';
  src: url('../../assets/fonts/Ample\ Soft\ Pro.otf');
}

.home-screen {
  font-family: 'Ample Soft Pro', sans-serif;
  height: 89vh;
  padding: 0 165px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .home-content {
    margin-top: -10vh;
    color: #1d2329;

    .main-text h3 {
      font-size: 48px;
      font-weight: 500;
    }

    .sub-text p {
      color: #97a3b5;
      font-size: 18px;
      line-height: 1.66;
      margin-top: 30px;
      max-width: 80%;
    }
  }

  .buttons-block {
    margin-top: 30px;
    
    .btn-start {
      background: #2b50ed;
      color: #f2f4fb;
      box-shadow: 0 14px 30px 0 rgba(43,80,237,.2);
      border: none;
      border-radius: 5px;
      padding: 12px 20px;
      font-weight: 500;
      outline: none;
    }

    .btn-start:hover {
      background: #2039aa;
    }

    .btn-content {
      background: #f2f4fb;
      color: #2b50ed;
      border: none;
      border-radius: 5px;
      padding: 12px 20px;
      margin-left: 20px;
      font-weight: 500;
      outline: none;
    }

    .btn-content:hover {
      background: #2b50ed;
      color: #f2f4fb;
    }
  }

  .home-image {
    width: 40vw;
    height: 500px;
    background-image: url(../../assets/image/main-image.png);
    background-size: cover;
    background-position: center center;
    transition: box-shadow 0.5s;
    will-change: transform;
  }
}

.bg-circle {
  position: fixed;
  overflow: hidden;
  height: 900px;
  width: 900px;
  border-radius: 50%;
  background: #2b50ed;
  bottom: -200px;
  right: -400px;
  z-index: -1;
}