.add-project {
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    font-size: 16px;
    color: #7f8fa4;
    line-height: 1.22;
    padding: 0 10px;
    margin-top: 18px;
    transition: color .2s;
  }

  .button-add {
    background: #1d2329;
    color: #fff;
    z-index: 3;
    border: 1px solid rgba(255,255,255,.16);
    border-radius: 30px;
    height: 90px;
    width: 90px;
    outline: none;
  } 

  .button-add:hover {
    border-radius: 50px;
  }
}